@using System.Web
@{
    ViewBag.Title = "How To Cite";
    //ViewBag.MetaDescription = "How to cite species fact sheets";
    //ViewBag.MetaKeywords = "SAEON, South African Environmental Observation Network, EasiCAT, How to Cite";
}


<div class="row">
    <div class="col-md">
        <p>Please cite usage of the South African Estuary Information System as follows:</p>
        <p>
            From the <a href="https://saeis.saeon.ac.za" target="_blank">South African Estuary Information System</a>
            by the <a href="http://www.saeon.ac.za" target="_blank">South African Environmental Observation Network (SAEON)</a>,
            under a <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons Attribution-ShareAlike 4.0 International License</a>
        </p>
        <p>
            @Html.Raw(HttpUtility.HtmlEncode("<p>"))<br />
            @Html.Raw(HttpUtility.HtmlEncode("From the <a href=\"https://saeis.saeon.ac.za\" target=\"_blank\">South African Estuary Information System</a>"))<br />
            @Html.Raw(HttpUtility.HtmlEncode("by the <a href=\"http://www.saeon.ac.za\" target=\"_blank\">South African Environmental Observation Network (SAEON)</a>,"))<br />
            @Html.Raw(HttpUtility.HtmlEncode("under a <a href=\"https://creativecommons.org/licenses/by-sa/4.0/\" target=\"_blank\">Creative Commons Attribution-ShareAlike 4.0 International License</a>"))<br />
            @Html.Raw(HttpUtility.HtmlEncode("</p>"))
        </p>
    </div>
</div>


