@using Humanizer
@model ImagesModel
@{
    ViewData["Title"] = $"{Model.EstuaryName} Images";
}

<div class="row">
    <div class="col-md">
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Type</th>
                    <th scope="col">Sub-Type</th>
                    <th scope="col">Date</th>
                    <th scope="col">Name</th>
                    <th scope="col">Source</th>
                    <th scope="col">Image</th>
                    <th scope="col">Hi-res Image</th>
                    <th scope="col">Hi-res Size</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var image in Model.Images)
                {
                    <tr>
                        <td scope="row">@image.RowNum</td>
                        <td>@image.Type</td>
                        <td>@image.SubType</td>
                        <td>@image.Date</td>
                        <td>@image.Name</td>
                        <td>@image.Source</td>
                        <td>@image.LinkToImage</td>
                        <td>@image.LinkToHiResImage</td>
                        <td>@(!image.HiResImageSize.HasValue ? "" : (image.HiResImageSize.Value*1.0).Bytes().Humanize("GB"))</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

